p {
  font-family: Lato;
}
div.box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
}

div.circle-full{
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin:5px;
  background-color: red;
}


div.circle-out{
  border-radius: 100%;
  width: 90px;
  height: 90px;
  margin:5px;
  background-color: pink;
}

div.list-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  max-width: 300px;
}